#login
  position relative
  width 300px
  margin 100px auto
  td
    padding 5px
  button
    margin-right 10px
#account
  position relative
  width 600px
  margin 100px auto
#signupButton
  background #FE2E64
  &:hover
    background #FF0040
#signup
  position relative
  width 300px
  margin 0 auto
  td
    padding 5px
  button
    margin-right 10px
#logout
  background #C4581A
  &:hover
    background #974211
